<nav class="navbar">
    <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item <%- page === 'index' ? 'active' : '' %>">
            <a href="/" class="nav-link">ドロップ一覧</a>
        </li>
        <li class="nav-item <%- page === 'register' ? 'active' : '' %>">
            <a href="/register" class="nav-link">ドロップ登録</a>
        </li>
    </ul>
</nav>
