<!DOCTYPE html>
<html lang="ja" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="css/hiq.css" media="screen,projection" />

    <link href="css/halfmoon-variables.min.css" rel="stylesheet" />
    <title>ドロップ一覧</title>
</head>

<body class="dark-mode">

<div class="page-wrapper with-navbar">

    <%- include('./header', {page: 'register'}) %>

    <div class="content-wrapper">
        <div class="content mt-20">
            <h1 class="content-title font-size-24 font-weight-bold">ドロップ登録</h1>

            <form id="form" action="/register" method="post" class="mw-full">
                <div class="form-group">
                    <label for="weaponId">武器</label>
                    <select class="form-control" id="weaponId" name="weaponId">
                        <option value="" selected="selected" disabled="disabled">Select a weapon</option>
                        <% for (const weapon of weapons) { %>
                            <option value="<%- weapon.id %>"><%- weapon.name %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="mission">ミッション</label>
                    <input id="mission"
                           class="form-control"
                           type="number"
                           min="2"
                           max="147"
                           name="mission"
                           placeholder="2">
                </div>

                <div class="form-group">
                    <div class="custom-checkbox">
                        <input type="hidden" id="_isNew" name="isNew" value="off">
                        <input type="checkbox" id="isNew" name="isNew">
                        <label for="isNew">初ドロップ</label>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">登録</button>
            </form>

            <% if (errorMessage[0] !== undefined) { %>
                <div class="alert alert-danger mt-20" role="alert">
                    <button class="close" onclick="this.parentNode.classList.add('dispose')" type="button"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">失敗</h4>
                    <p><%- errorMessage %></p>
                </div>
            <% } %>
        </div>
    </div>

    <script src="js/halfmoon.min.js"></script>
    <script>
      document.getElementById('form')
        .addEventListener('submit', () => {
          if (document.getElementById('isNew').checked) {
            document.getElementById('_isNew').disabled = true;
          }
        });
    </script>
</div>
</body>
</html>
